@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-color: #090069;
    --text-color: #f0f0f0;
    --text-dark-color: #282c2e;
    --background-color: #aeaeae;
    --background-dark-color: #686868;

    --theme-color: #0200fe;
    --theme-color-hover: #0000a3;
    --dark-edge: #424649;
    --light-edge: #dfe3e4;
}

body {
    font-family: "Arimo", serif;
    color: var(--text-color);
    background-color: var(--background-dark-color);
    margin: 0;
}
  
button {
    color: var(--text-color);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: var(--theme-color);

    &:hover {
        background-color: var(--theme-color-hover);
    }

    box-shadow: 
        inset -2px -2px 0px var(--dark-edge),
        inset 2px 2px 0px var(--light-edge);
}

hr {
    border: 1px solid var(--dark-edge);
}

.top-bar {
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 0px var(--dark-edge);
    position: fixed;
    width: calc(100% - 40px);
    z-index: 1000;
    top: 0;
}

.top-bar h1 {
    margin: 0;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-email {
    margin-right: 10px;
    display: none;
}

#logout-button {
    background-color: #dc3545;
}

#logout-button:hover {
    background-color: #c82333;
}

#login-button {
    background-color: #28a745;
}

#login-button:hover {
    background-color: #218838;
}

.gallery-container {
    padding: 20px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}